$light-grey: #767676;

#keyboard {
padding: 0;
list-style: none;
}
.hidden {
    visibility: hidden;
}
#keyboard li {
float: left;
font-family: verdana, arial;
margin: 0 5px 5px 0;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
color: $light-grey;
border: 1px solid $light-grey;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.player-key {
    color: #fff!important;
    border: 1px solid #fff!important;
}
.capslock, .tab, .left-shift {
clear: left;
}
#keyboard .tab, #keyboard .delete {
width: 70px;
}
#keyboard .capslock {
width: 15px;
}
#keyboard .return {
width: 77px;
}
#keyboard .left-shift {
width: 45px;
}
#keyboard .right-shift {
width: 109px;
}
.lastitem {
margin-right: 0;
}
#keyboard .space {
clear: left;
width: 681px;
}

